.logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}
.logo:after{
    background-color: #ff3368;
    display: block;
    height: 3px;
    width: 100px;
    margin: 0 auto;
    content: " ";
    margin-top: 20px; 
}

.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}


#labeltxt{
	display: block;
	margin-top: 10px;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}
input{
	display: block;
	width: 350px;
	margin: auto;
	padding: 15px;
	border:1px;
	border-radius: 25px;
	color:black;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}
.inputwithicon{
	position: relative;
}
.inputwithicon img{
	position:absolute;
	left:400px;
	bottom:5px;
}

.btn1{
	width: 438px;
}

/* Footer section */
footer{
	background-color: #161414;
	padding: 40px;
	color: whitesmoke;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}
/* Footer section */
@media screen and (max-width: 575px){
	#logo{
		font-size: larger !important;
	}
	.logo{
		font-size: larger !important;
	}
	.card{
		width: 100% !important;
		height: auto !important;
	}
	.btn{
		width: 100% !important;
	}
	 /* Footer section */
	footer{
		background-color: #161414;
		padding: 10px !important;
		color: whitesmoke;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		color: white;
		text-align: center;
		font-size: 10px !important;
	}
	 /* Footer section */
	 #brandlogo{
		 display: none !important;
	 }
	 #logo{
		 padding-right: 60px !important;
	 }
}